.irs-slider.single:before {background: rgba(0, 0, 0, 0);}
.irs-slider.from:before {background: rgba(0, 0, 0, 0);}
.irs-slider.to:before {background: rgba(0, 0, 0, 0);}
.irs-grid-pol {background: #000;}
.irs-grid-text {color: #000;}
.irs-diapason {background-color: #e65a4b;}
.irs-from, .irs-to, .irs-single {background: #e65a4b; color: #fff;}
.irs-from:after, .irs-to:after, .irs-single:after {border-top-color: #ed5565;border: 3px solid transparent;}
.irs-grid-pol {background: #e1e4e9;}
.irs-grid-text {color: #999;}
.irs { position: relative; display: block; }
.irs-line { position: relative; display: block; overflow: hidden; border-radius: 5px;}
.irs-line-left, .irs-line-mid, .irs-line-right { position: absolute; display: block; top: 0; }
.irs-line-left { left: 0; width: 10%; }
.irs-line-mid { left: 10%; width: 81%; }
.irs-line-right { right: 0; width: 10%; }
.irs-diapason { position: absolute; display: block; left: 0; width: 100%; }
.irs-slider { position: absolute; display: block; cursor: default; z-index: 1; }
.irs-slider.single { left: 10px; }
.irs-slider.from { left: 100px;}
.irs-slider.to { left: 300px; }
.irs-slider.last { z-index: 2; }
.irs-from, .irs-to, .irs-single { position: absolute; display: block; top: 50px; left: 0; cursor: default; white-space: nowrap; }
.irs-grid { position: absolute; display: none; bottom: 0; left: 0; width: 100%; height: 20px; }
.irs-with-grid .irs-grid { display: block; }
.irs-grid-pol { position: absolute; top: 0; left: 0; width: 1px; height: 8px; background: #000; }
.irs-grid-pol.small { height: 4px; }
.irs-grid-text { position: absolute; bottom: 0; left: 0; width: 100px; white-space: nowrap; text-align: center; font-size: 9px; line-height: 9px; color: #000; }
.irs { height: 0; margin: -10px 0 20px 0; width:100%!important; margin-top: -10px !important;}
.irs-with-grid { height: 60px; }
.irs-line { height: 8px; top: 25px; width: 100% !important; border: 1px solid #D3D3D3; border-radius: 0;}
.irs-line-left { height: 12px; }
.irs-line-mid { height: 12px; }
.irs-line-right { height: 12px; }
.irs-diapason { height: 8px; top: 25px;  background-color: #999;}
.irs-slider { background-image:url("../images/processbar.png"); background-position: left 1px;height: 20px;top: 18px;width: 22px;}
.irs-min, .irs-max {display: none !important;}
.irs-from, .irs-to, .irs-single { color: #5f5f5f; font-size: 10px; line-height: 1.333; text-shadow: none; padding: 2px 5px; background: #eaeaea; border-radius: 0px; ; box-shadow: inset 2px 2px 5px #999; border-radius: 4px; display: none !important;}
.irs-from:after, .irs-to:after, .irs-single:after { position: absolute; display: block; content: ""; bottom: 17px; left: 50%; width: 0; height: 0; margin-left: -4px; overflow: hidden; border: 4px solid transparent; border-bottom-color:#999}
.irs-grid-pol { background: #e1e4e9; }
.irs-grid-text { color: #999; }
.irs-bar {background: #999;height: 8px;top: 15px;}
.irs-bar {display: block;position: absolute;}
