
 .css-763e6y.css-pp2ows1 {
    padding-top: 0px !important;
}

.pro-desc .item-title {
    min-height: 46px !important;
    max-height: 47px !important;
    overflow-y: auto !important;
 }
 .css-115rlhy{
     background:#e70000 !important;
 }

 .css-1ylpwy7 .rheostat-progress {
    background-color: #999 !important;
 }   